<h1>{{movie.title}}</h1>
<p>누적관객수:{{movie.audience}}</p>
<p>장르:{{ movie.genre.name }}</p>
<p>설명: {{ movie.description }}</p>

<img src = "{{movie.poster_url}}" alt = "포스터">
<hr>
<p>영화 평가하기 (총 {{ scores.count }}개의 글이 달림)</p>

<form action = "{% url 'movies:scnew' movie.pk %}" method="POST">
    {% csrf_token %}
    코멘트 : <input type ="text" name ="content"> <br>
    
    평점 : <input type ="float" name ="score"> 
    <input type = "submit">
</form>

{% for score in scores %}
평점: {{score.score}}, 코멘트: {{ score.content }}
    <form action="{% url 'movies:scdel' movie.pk score.pk %}" method="POST" style ="display: inline" onsubmit="return confirm('삭제하시겠습니까?')">
        {% csrf_token %}
        <input type = "submit" value="삭제">
    </form>
    <br>
{% empty %}
    <b><p>댓글이 없어요 ' <'</p></b>    
{% endfor %}
<hr>
<a href='{% url "movies:index" %}'>목록</a>&nbsp;&nbsp;<a href='{% url "movies:delete" movie.id %}'>삭제</a>&nbsp;<a href='{% url "movies:edit" movie.pk %}'>수정</a>